body{
    font-family: 'Lato', sans-serif;
}
.nav--container{
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-bottom: 10px;
    align-items: center;
}
#check{
    display: none;
}

.menuItens{
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;


}


