body{
    font-family: 'Lato', sans-serif;
}
.nav--container{
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-bottom: 10px;
    align-items: center;
}

#check{
    display: none;
}

.menuItens{
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #ffffff;
    padding: 5px 0px;
}

.menuItens li{
    border-left: 2px solid #E0E0E0;
    padding-left: 6px;
    display: flex;
}

.main--container{
    display: flex;
    justify-content: space-evenly;
    
}
.form--container{
    border: 2px solid #E0E0E0;
    width: 30vw;
    
}


